<footer class="bg-primary">
  <section class="container-xl d-flex justify-content-between align-items-center">
    <section id="footerlogo" class="d-flex flex-column align-items-center p-2">
      <img src="./assets/logo/svg-short-logo.svg" class="">
      <p class="text-success">2023 Antonio Gaire</p>
    </section>
    <section id="socials">
      <i class="fa-brands fa-twitter text-light p-0 p-sm-2 fa-2x"></i>
      <i class="fa-brands fa-mastodon text-light p-0 p-sm-2 fa-2x"></i>
      <i class="fa-brands fa-facebook text-light p-0 p-sm-2 fa-2x"></i>
      <i class="fa-brands fa-youtube text-light p-0 p-sm-2 fa-2x"></i>
    </section>
  </section>
</footer>
